* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

header{
  margin: 0px;
}

.header-h1 {
  font-size: 1.5rem;
}

.header-contents  {
  height: 3rem;
  width: 48%;
}

.img-fit {
  object-fit: contain;
}

.product-list-container {
  width: 50%;
  margin-left: auto;
}

.product-item {
  border: 1px solid lightgray;
  min-width: 28%;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.product-price, .product-desc {
  font-size: .8rem;
}

.card-img-top {
  height: 100%;
  max-height: 10rem;
  align-self: center;
}

.back-button  {
  width: 135px;
  padding: 0;
  border-radius: 50px;
  text-decoration: none;
  border: none;
  background-color: none;
}

.hover:hover  {
  cursor:pointer;
}

.title {
  color: black;
  transition: color 0.1s linear;
}

.title:hover  {
  color: rgb(170, 170, 170);
}

.img-hover  {
  transform: scale(1);
  transition: transform .2s ease;
}

.img-hover:hover  {
  transform: scale(0.9)
}

.fa-shopping-cart {
  font-size: 1.5rem;
}
/*
.cart-heading{
  width: 100%;
} */

.cart-total {
  width: 50%;
  transform: translatex(-17px)
}

.cart-summary-container {
  width: 50%;
  padding: 0px;
}

.cart-h2 {
  padding: 0px;
}
