* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

header{
  margin: 0px;
}

body {
  height: 100vh;
  background-image: url('/images/keyboards-wallpaper.jpg');
}

.header-h1 {
  font-size: 1.5rem;
  margin-left: 5px;
}

.keeb {
  color: red;
}

.logo-heading {
  margin-left: 5%;
}

.header-cart {
  margin-right: 5%;
}

.header-contents  {
  height: 3rem;
  width: 100%;
}

.keyboard-icon  {
  width: 1.5rem;
}

.img-fit {
  object-fit: contain;
}

.product-item {
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.95);
  min-width: 30%;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.product-price, .product-desc {
  font-size: .8rem;
}

.card-img-top {
  height: 10rem;
  align-self: center;
}

.back-button  {
  width: 135px;
  padding: 0;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  background-color: none;
}

.hover:hover  {
  cursor:pointer;
}

.title {
  color: black;
  transition: color 0.1s linear;
}

.title:hover  {
  color: rgb(170, 170, 170);
}

.img-hover  {
  transform: scale(1);
  transition: transform .2s ease;
}

.img-hover:hover  {
  transform: scale(0.97)
}

.fa-shopping-cart {
  font-size: 1.5rem;
}

.cart-total {
  width: 100%;
  margin: 0px;
}

.cart-summary-container {
  width: 100%;
  padding: 0px 0px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.cart-h2 {
  padding: 0px;
  border-bottom: 1px dashed lightgray;
}

.checkout-btn {
  width: 100px;
  height: 40px;
  margin-bottom: 10px;
}

.checkout-container {
  /* width: 60%; */
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.modal-container {
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-elements {
  max-width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  top: 50%;
  left: 50%;
}


@media screen and (max-width: 202px)  {
  .h1-disclaimer  {
    font-size: 1.5rem;
  }
}


/*
@media screen and (min-width: 0px){
  .checkout-container {
    width: 100%;
  }
}

@media screen and (min-width: 575.98px) {
  .checkout-container  {
    width: 90%;
  }
}

@media screen and (min-width: 767.98px) {
  .checkout-container  {
    width: 80%;
  }
}


@media screen and (min-width: 991.98px) {
  .checkout-container  {
    width: 70%;
  }
} */
